*{
    margin:0;
    box-sizing: border-box;
    
    
}

body{
    background:#c3bfbf2e;
}

                           /* HEADER */

.header{
    height: 80px;
    padding: 10px;
    background: #fff;
    
}

h1{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    
    }

   .logo{
        vertical-align: middle;
    }

                              /* CONTENITOR*/



.contenitor{
    font-family: 'Roboto', sans-serif;
    margin:auto;
    margin-top: 50px;
    background: #fff;
    width: 800px;
    border-radius: 5px;
    
}

.section{
    height: 60px;
    border-bottom: 2px solid lightgrey;
    padding-top: 20px;
    
    
}


.button{
    display: inline-block;
}


.add-task{
    
    background: #2196f3;
    width: 80px;
    height:30px;
    margin-left: 40px;
    border-radius: 5px;

}


.add-section{
    background: #fff;
    width: 90px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 6px;
}


.add1{
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    padding-left: 10px;
}

.add2{
    color: lightgray;
    font-size: 13px;
    line-height: 30px;
    padding-left: 10px;
    
}

                               /* CONTENT*/

.content{
   margin-left: 50px;
   margin-top:50px;
}


.arrow{
    margin-right:5px;
}

h3{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    
}

/* LIST */

ul{
    list-style: none;
    padding-left: 0;
    list-style-position: inside;
    margin-top:10px;
    
}

.entity{
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 16px ;
    text-align: center;

}
.v{
    color:green;
    font-size: 13px;
}

.x{
color:red;
font-size: 8px;
}


span, ul{
    display: inline-block;
}

li{
    line-height: 40px;
}

/* TICKET */

.ticket{
    display: inline-block;
    width:60px;
    height: 20px;
    font-size: 12px;
    background:lightskyblue;
    border-radius: 8px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height:20px ;
}

.purple{
    background-color:#8616bfbf;
}

.editorial{
    background-color: #2196f3;
}
.green{
    background-color: #1b9da5ab;
}

.orange{
    background-color: #e69328;
}

.pink{
    background-color: #d857c8e0;
}

.olive{
    background-color: #8bbf3ac9;
}


